<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main-page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://glavikrestyanam.site/css/app.css" rel="stylesheet">
    <link href="https://glavikrestyanam.site/css/dark-mode.css" rel="stylesheet">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body id="body" class="dark-mode">
<header th:insert="blocks/header :: header"></header>
<h1>Users</h1>
<table border="5" class="align-content-center">
    <tr>
        <td>Id</td>
        <td>Email</td>
        <td>Username</td>
        <td>Last visit</td>
        <td>Roles</td>
    </tr>
    <th:block th:each="el : ${users}">
        <tr>
            <td th:text="${el.id}"></td>
            <td th:text="${el.email}">z</td>
            <td th:text="${el.username}">z</td>
            <td th:text="${el.lastVisit}"></td>
            <td th:text="${el.roles.iterator().next()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>