<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Main-page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://glavikrestyanam.site/css/app.css" rel="stylesheet">
    <link href="https://glavikrestyanam.site/css/dark-mode.css" rel="stylesheet">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body id="body" class="dark-mode">
<header th:insert="blocks/header :: header"></header>

<main class="py-4">
    <div class="container my-n4">
        <div class="container">
            <div class="col-12 col-md-9 px-0 m-auto">
                <div class="bg-light f-image ch-show" th:each="el : ${ch_Details}">
                    <img th:src="'/images/' + ${el}" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>